{% if products is not empty %}
    {% block scroll_pager %}
        <div class="pager">{{ 'pager.page'|trans({},'NitraProductBundle')}}<span class="page_count">&nbsp;{{ currentPage }}</span></div>
    {% endblock scroll_pager %}
    {% block product_list %}
        {% render controller("NitraProductBundle:Product/Product:formatProductList", {'products' : products, 'productModels' : productModels}) %}
    {% endblock product_list %}
{% endif %}