{% trans_default_domain "NitraProductBundle" %}

{% block product_delivery_form %}
    <div class="product_delivery_form">
        {{ form(form, {'action': path("product_delivery"), 'method': 'POST', 'attr': {'id': 'product_delivery_form'} }) }}
    </div>
{% endblock product_delivery_form %}


{# процесс загрузки стоимостей доставок #}
{% block product_delivery_loader %}
    <div id="product_delivery_loading" class="loader" style="display: none">
        {% image '@NitraStoreBundle/Resources/public/images/product_delivery_loading.gif' %}
            <img src="{{ asset_url }}" alt="loading" />
        {% endimage %}
    </div>
{% endblock product_delivery_loader %}

{# ошибка формы поиска #}
{% block product_delivery_error %}
    <div id="product_delivery_error" style="display: none"></div>
{% endblock product_delivery_error %}

{# результат отображения формы поиска #}
{% block product_delivery_result %}
    <div id="product_delivery_result" class="product_delivery_result"></div>
{% endblock product_delivery_result %}

{# javascript формы #}
{% block product_delivery_javascript %}
    <script type="text/javascript">

    /**
     * обработка ошибочной ситуации
     * при расчете стоимостей доставки
     **/
    function productDeliveryOnError()
    {
        $('#product_search_delivery_button_search').show();
        $('#product_delivery_loading').hide();
        $('#product_delivery_error').html('{% trans %}product.delivery.error.server_is_not_available{% endtrans %}').show();
    }

    /**
     * Докуменнт готов
     **/
    $(document).ready(function(){

    //    // select2 для виджета город получатель
    //    $('#product_delivery_city').select2();

        // поиск товара по актикулу
        $('#product_search_delivery_button_search').click(function(event){
            // отменить действия по умолчанию
            event.preventDefault();

            // очистить результат расчетов
            $('#product_delivery_result').html('');
            $('#product_delivery_error').html('').hide();
            $('#product_search_delivery_button_search').hide();
            $('#product_delivery_loading').show();

            // отправить запрос на для расчета
            $.ajax({
                url: $('#product_delivery_form').attr('action'),
                type: 'POST',
                data: $('#product_delivery_form').serialize(),
                dataType: 'json',

                // ощибка получения данных
                error: function() {
                    productDeliveryOnError();
                },

                // данные полуены успешно
                success: function(fromServer) {

                    // проверить ответ сервера
                    if (typeof(fromServer) == 'undefined' ||
                        // ответ сервера должен содержать тип ответа
                        typeof(fromServer.type) == 'undefined'
                    ) {
                        // от сервера получен не корректный ответ
                        productDeliveryOnError();
                        return;
                    }

                    // отображение ошибки результатов расчета
                    if (fromServer.type == 'error') {
                        $('#product_search_delivery_button_search').show();
                        $('#product_delivery_loading').hide();
                        $('#product_delivery_error').html(fromServer.message).show();
                        return;
                    }

                    // отображение результатов расчета
                    $('#product_search_delivery_button_search').show();
                    $('#product_delivery_loading').hide();
                    $('#product_delivery_result').html(fromServer.html);
                }
            });

            return false;
        });

    });

    </script>
{% endblock product_delivery_javascript %}