{% trans_default_domain "NitraProductBundle" %}

<div id="estimate_delivery_template">
    {% set available = false %}
    {% for delivery in deliveries if delivery.isAvailable %}
        {% set available = true %}
    {% endfor %}

    {% block delivery_results %}
        {% if available %}
            {% block delivery_results_available %}
                <table>
                    {% block delivery_caption %}
                        <thead>
                            <tr>
                                <th rowspan="2">{{ 'product.delivery.result.delivery'|trans }}</th>
                                <th rowspan="2">{{ 'product.delivery.result.cost_tk'|trans }}</th>
                                <th rowspan="2">{{ 'product.delivery.result.cost_back'|trans }}</th>
                                <th colspan="2">{{ 'product.delivery.result.total'|trans }}</th>
                                <th rowspan="2">{{ 'product.delivery.result.date'|trans }}</th>
                            </tr>
                            <tr>
                                <th>{{ 'product.delivery.result.warehouse_to_warehouse'|trans }}</th>
                                <th>{{ 'product.delivery.result.warehouse_to_door'|trans }}</th>
                            </tr>
                        </thead>
                    {% endblock delivery_caption %}

                    {% block delivery_content %}
                        <tbody>
                            {% for delivery in deliveries if delivery.isAvailable %}
                                <tr>
                                    <td class="delivery_name">{{ delivery.name }}</td>
                                    <td class="cost_tk">{{ (delivery.estimateCost.costTk is defined and delivery.estimateCost.costTk) ? delivery.estimateCost.costTk }}</td>
                                    <td class="cost_back">{{ (delivery.estimateCost.costBack is defined and delivery.estimateCost.costBack) ? delivery.estimateCost.costBack }}</td>
                                    <td class="cost_to_wh">{{ (delivery.estimateCost.costToWarehouse is defined and delivery.estimateCost.costToWarehouse) ? delivery.estimateCost.costToWarehouse }}</td>
                                    <td class="cost_to_door">{{ (delivery.estimateCost.costToDoor is defined and delivery.estimateCost.costToDoor) ? delivery.estimateCost.costToDoor }}</td>
                                    <td class="delivery_date">{{ (delivery.estimateDate is defined and delivery.estimateDate) ? delivery.estimateDate|localizeddate('none', 'none', app.request.locale, null, 'dd MMMM YYYY') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endblock delivery_content %}
                </table>
            {% endblock delivery_results_available %}
        {% else %}
            {% block delivery_results_empty %}
                <div class="not_available">{{ 'product.delivery.result.not_available'|trans|raw }}</div>
            {% endblock delivery_results_empty %}
        {% endif %}
    {% endblock delivery_results %}
</div>
