{% extends "NitraProductBundle:Carousels:products.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block item_badge '' %}

{% block item_price %}
    {% set prices = [] %}
    {% for product in item.products %}
        {% set prices = prices|merge([product.price]) %}
    {% endfor %}
    {{ include('NitraProductBundle:Model:modelPrices.html.twig') }}
{% endblock item_price %}