{% trans_default_domain "NitraProductBundle" %}

{% block carousel %}
{% spaceless %}
    {% if items is not empty %}
        {% block carousel_content %}
            <div class="carousel_{{ carouselType|default('products') }} {{ class }}">
                {% if caption is not empty %}
                    {% block carousel_caption %}<div class="title">{{ caption|trans }}</div>{% endblock carousel_caption %}
                {% endif %}
                <div class="carousel_block {{ items|length > visible ? 'with_links' }}{{ (orientation is defined) ? (' ' ~ orientation) }}">
                    <div id="{{ class }}_carousel" class="carousel_content">
                        {% block carousel_products %}
                            <ul>
                                {% for item in items %}
                                    <li class="item">
                                       {% block item %}
                                            {% block item_info %}
                                                <a class="info" href="
                                                   {%- block item_link -%}
                                                       {{- path('product_page', {'slug': item.alias}) -}}
                                                   {%- endblock item_link -%}
                                                ">
                                                    {% block item_info_content %}
                                                        {% block item_badge %}
                                                            {% if item.badge and item.badge.imageSmall is not empty %}
                                                                {% block item_badge_content %}
                                                                    <span class="badge {{ item.badge.alias }}">
                                                                        <img src="{{ item.badge.imageSmall|imagine_filter('badge_small') }}" alt="{{ item.badge.alias }}" />
                                                                    </span>
                                                                {% endblock item_badge_content %}
                                                            {% endif %}
                                                        {% endblock item_badge %}
                                                        {% block item_image %}
                                                            <img class="image" src="{{ item.image|default('images/no_image.jpg')|imagine_filter(imageSize) }}" alt="{{ item.fullName }}" />
                                                        {% endblock item_image %}

                                                        {% block item_name %}
                                                            <span class="name">{{ item.fullName }}</span>
                                                        {% endblock item_name %}
                                                    {% endblock item_info_content %}
                                                </a>
                                            {% endblock item_info %}

                                            {% if type != 'simple' %}
                                                {# Блок статуса товара (в наличии\под заказ). #}
                                                {% block item_stock %}
                                                    {{ include('NitraProductBundle:Modules:productStock.html.twig', { 'item': item }) }}
                                                {% endblock item_stock %}
                                            {% endif %}

                                            {# Блок с ценой #}
                                            {% block item_price %}
                                                {{ include('NitraProductBundle:Modules:productPrice.html.twig') }}
                                            {% endblock item_price %}

                                            {% if type != 'simple' %}
                                                {% block item_button %}
                                                    <a class="button_buy{{ colorbox|default(true) ? ' colorbox' }}" href="
                                                       {%- block item_order_link -%}
                                                           {{- path('order_page', {'productId': item.id}) -}}
                                                       {%- endblock item_order_link -%}
                                                    ">
                                                        <span>{{ 'button.buy'|trans }}</span>
                                                    </a>
                                                {% endblock item_button %}
                                            {% endif %}
                                       {% endblock item %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endblock carousel_products %}
                    </div>

                    {% if items|length > visible %}
                        {% block carousel_script %}
                            <a id="link-prev-{{ class }}" class="slide_link prev"></a>
                            <a id="link-next-{{ class }}" class="slide_link next"></a>

                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $("#{{ class }}_carousel").jCarouselLite({
                                        btnNext:    "#link-next-{{ class }}",
                                        btnPrev:    "#link-prev-{{ class }}",
                                        autoWidth:  {{ autoWidth|default(false) ? 'true' : 'false' }},
                                        responsive: {{ responsive|default(false) ? 'true' : 'false' }},
                                        visible:    {{ visible }},
                                        vertical:   {{ ((orientation is defined) and (orientation == 'vertical')) ? 'true' : 'false' }},
                                        circular:   false
                                    });
                                });
                            </script>
                        {% endblock carousel_script %}
                    {% endif %}
                </div>
            </div>
        {% endblock carousel_content %}
    {% endif %}
{% endspaceless %}
{% endblock carousel %}