{% extends "::base.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block canonical %}
    {% if products.currentPageNumber < products.paginationData.pageCount %}
        <link rel="next" href="{{ path("search_page", app.request.attributes.get('_route_params')|merge({'page': products.currentPageNumber + 1})) }}">
    {% endif %}
    {% if products.currentPageNumber > 1 %}
        <link rel="prev" href="{{ path("search_page", app.request.attributes.get('_route_params')|merge({'page': products.currentPageNumber - 1})) }}">
    {% endif %}
{% endblock canonical %}

{% block meta_info %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type': 'info', 'uri': app.request.uri}) %}
{% endblock meta_info %}

{% block main_seotext %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type': 'desc', 'uri': app.request.uri}) %}
{% endblock main_seotext %}

{% block content_class 'search_page' %}

{% block content %}
    {% block search_title %}
        <h1>{{ 'search.title'|trans }} "{{ search }}"</h1>
    {% endblock search_title %}

    {% if results is defined %}
        {% block product_panel_top %}
            {% render controller("NitraProductBundle:Product/Product:productPanel", {'params': app.request.attributes.get('_route_params'), 'pathInfo' : app.request.pathInfo}) %}
        {% endblock product_panel_top %}

        {% block results %}
            {% for groupName, result in results %}
                <div class="items_list">
                    {{ result|raw }}
                </div>
            {% endfor %}
        {% endblock results %}
    {% else %}
        {{ include ("NitraProductBundle:Modules:noProducts.html.twig", {'page': 'search'}) }}
    {% endif %}
{% endblock content %}