{% trans_default_domain "NitraProductBundle" %}

{% block group_name %}
    {{ 'search.findedIn'|trans }} {{ results.paginationData.totalCount|declension(('search.groups.' ~ key ~ '.dcl.one')|trans, ('search.groups.' ~ key ~ '.dcl.two')|trans, ('search.groups.' ~ key ~ '.dcl.many')|trans) }}:
    {% if results.totalItemCount > results|length %}
        <a href="{{ path('search_page', {'term': search, 'group': key}) }}">{{ ('search.groups.' ~ key ~ '.showAll')|trans }}</a>
    {% endif %}
{% endblock group_name %}

{% block results %}
    {% for item in results %}
        {% block result %}
            {% set routeParameters = {} %}
            {% for parameterKey, parameter in config.routeParameters %}
                {% set routeParameters = routeParameters + {(parameterKey): attribute(item, parameter)} %}
            {% endfor %}
            <div class="item">
                <a class="name" href="{{ path(config.route, routeParameters) }}">{{ config.toString ? attribute(item, config.toString) : item }}</a>
            </div>
        {% endblock result %}
    {% endfor %}
{% endblock results %}