{% extends app.request.isXmlHttpRequest ? "NitraStoreBundle::colorbox.html.twig" : "::base.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block canonical %}
    {% if products.currentPageNumber < products.paginationData.pageCount %}
        <link rel="next" href="{{ path("search_page", app.request.attributes.get('_route_params')|merge({'page': products.currentPageNumber + 1})) }}">
    {% endif %}
    {% if products.currentPageNumber > 1 %}
        <link rel="prev" href="{{ path("search_page", app.request.attributes.get('_route_params')|merge({'page': products.currentPageNumber - 1})) }}">
    {% endif %}
{% endblock canonical %}

{% block meta_info %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type': 'info', 'uri': app.request.uri}) %}
{% endblock meta_info %}

{% block main_seotext %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type': 'desc', 'uri': app.request.uri}) %}
{% endblock main_seotext %}

{% block content_class 'search_page' %}

{% block content %}
    {% block breandscrumbs %}
        {{ include('NitraProductBundle:Category:breadscrumbs.html.twig', {'breadscrumbs': [{'name': 'search.title'|trans}]}) }}
    {% endblock breandscrumbs %}

    {% block search_title %}
        <h1>{{ 'search.title'|trans }} "{{ search }}"</h1>
    {% endblock search_title %}

    {% block product_panel_top %}
        {% render controller("NitraProductBundle:Product/Product:productPanel", {'params': app.request.attributes.get('_route_params'), 'pathInfo': app.request.pathInfo}) %}
    {% endblock product_panel_top %}

    {% block results %}
        <ul>
            {% for result in results[group] %}
                {% set result = config.embedded ? result['embedded'] : result %}
                {% block item %}
                    <li>
                        {% set routeParameters = config.staticRouteParameters %}
                        {% for parameterKey, parameter in config.routeParameters %}
                            {% set routeParameters = routeParameters + {(parameterKey): attribute(result, parameter)} %}
                        {% endfor %}
                        <a href="{{ path(config.route, routeParameters) }}">{{ config.toString ? attribute(result, config.toString) : result }}</a>
                    </li>
                {% endblock item %}
            {% endfor %}
        </ul>
    {% endblock results %}

    {% block pagination_bottom %}
        <div class="pagination_bottom">
            {{ knp_pagination_render(results|first)|raw }}
        </div>
    {% endblock pagination_bottom %}

    {% block product_panel_bottom %}
        {#% render controller("NitraProductBundle:Product/Product:productPanel", {'params': app.request.attributes.get('_route_params'), 'pathInfo': app.request.pathInfo}) %#}
    {% endblock product_panel_bottom %}
{% endblock content %}