{% trans_default_domain "NitraProductBundle" %}

{% block suggest_scripts %}
    {% block js %}
        {% block included %}
            {% javascripts
                "components/jquery-ui/ui/minified/core.min.js"
                "components/jquery-ui/ui/minified/widget.min.js"
                "components/jquery-ui/ui/minified/position.min.js"
                "components/jquery-ui/ui/minified/menu.min.js"
                "components/jquery-ui/ui/minified/autocomplete.min.js"
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock included %}
        <script type="text/javascript">
            {% block document_ready_container %}
                $(document).ready(function() {
                    {% block document_ready %}
                        $('button.js-click-on-search').click(function() {
                            locateToSearchPage($('input.nitra_search_suggest').val());
                        });
                        $('input.nitra_search_suggest')
                                .on('keydown', function(e) {
                                    if ((e.keyCode === 13) && $(this).val()) {
                                        locateToSearchPage($(this).val());
                                    }
                                })
                            .autocomplete({
                            {% block autocomplete_options %}
                                minLength:  1,
                                html:       true,
                                appendTo:   ".search",
                                source:     {% block autocomplete_path %}"{{ path('search_suggest') }}"{% endblock autocomplete_path %},
                                select:     function(event, ui) {
                                    {% block autocomplete_select_fn %}
                                        window.location = ui.item.id;
                                    {% endblock autocomplete_select_fn %}
                                }
                            {% endblock autocomplete_options %}
                        }).autocomplete( "instance" )._renderItem = function(ul, item) {
                            {% block autocomplete_rednder_item_fn %}
                                var $li = $("<li></li>").data("item.autocomplete", item);

                                if (item.i == 0) {
                                    $li.addClass('first');
                                }
                                if (item.i == item.total - 1) {
                                    $li.addClass('last');
                                }

                                var img = item.hasOwnProperty('image')
                                    ? ("<img class=\"item_image\" src=\"" + item.image + "\" alt=\"" + item.label + "\" />")
                                    : "";
                                var $a = $('<a></a>')
                                    .prop('href', item.id)
                                    .addClass('item')
                                    .html(img);
                                if (item.group) {
                                    $a.addClass('group');
                                    if (item.all) {
                                        ul.find('li').last().addClass('last');
                                        $li.addClass('all_results');
                                    }
                                }
                                var $span = $('<span></span>')
                                    .addClass('item_name')
                                    .text(item.label);
                                $span.appendTo($a);
                                if (item.hasOwnProperty('price')) {
                                    $('<span></span>')
                                        .addClass('item_price')
                                        .html(item.price)
                                        .appendTo($a);
                                }
                                $a.appendTo($li);

                                return $li.appendTo(ul);
                            {% endblock autocomplete_rednder_item_fn %}
                        };
                    {% endblock document_ready %}
                });
            {% endblock document_ready_container %}

            {% block js_locate_to_search_page %}
                function locateToSearchPage(val) {
                    var path = "{{ path('search_page', {'term': '__term__'}) }}";
                    window.location = path.replace(/__term__/, val);
                }
            {% endblock js_locate_to_search_page %}
        </script>
    {% endblock js %}
{% endblock suggest_scripts %}