<div class="nav">
    {% block category_nav %}
        <ul>
            {% block category_nav_items %}
                {% for category in categories %}
                    <li class="category category-{{ 'styleClass' in category|keys ? category.styleClass }}{{ category.active is defined and category.active  ? ' active' }} {{ (category.__children is not empty) ? 'submenu' }} {{ loop.first ? 'first' }}">
                        {% block category_item %}
                            {% block category_title %}
                                <a class="level0" href="{{ path('category_page', {'slug': category.aliasEn}) }}"><span>{{ category.name }}</span></a>
                            {% endblock category_title %}

                            {% if category.__children is not empty %}
                                {% block category_drop %}
                                    <div class="drop drop{{ category.__children|length }}{{ loop.index <= ((categories|length + 1) // 2) ? ' drop_left' : ' drop_right' }}">
                                        {% set columns = {} %}
                                        {% for key2, category2 in category.__children %}
                                            {% set column = category2.column|default(0) %}
                                            {% set columns = columns|merge({(column): { (key2): category2 }}) %}
                                        {% endfor %}
                                        {% for key, column in columns %}
                                            {% block subcategory_col %}
                                                <ul class="col {{ loop.first ? 'first' }}">
                                                    {% for subcategory in column %}
                                                        <li>
                                                            {% block subcategory_item %}
                                                                {% block subcategory_title %}
                                                                    <a class="level1" href="{{ path('category_page', {'slug': subcategory.aliasEn}) }}">
                                                                        <span>
                                                                            {{- subcategory.name -}}
                                                                        </span>
                                                                    </a>
                                                                {% endblock subcategory_title %}

                                                                {% block subcategory2 %}
                                                                {% set subcolumns = {} %}
                                                                {% for key3, category3 in subcategory.__children %}
                                                                    {% set column = category3.column|default(0) %}
                                                                    {% set subcolumns = subcolumns|merge({(column): { (key3): category3 }}) %}
                                                                {% endfor %}
                                                                    {% for subcolumn, subcategories in subcolumns %}
                                                                        {% block subcategory2_column %}
                                                                            <div class="col subcol{{ subcolumn }}">
                                                                                {% block subcategory2_column_content %}
                                                                                    <ul>
                                                                                        {% block subcategory2_column_content_ul %}
                                                                                            {% for subcategory2 in subcategories %}
                                                                                                {% block subcategory2_item_li %}
                                                                                                    <li>
                                                                                                        {% block subcategory2_item %}                                                                                     
                                                                                                            <a class="level2" href="{{ path('category_page', {'slug': subcategory2.aliasEn}) }}">{{ subcategory2.name }}</a>
                                                                                                        {% endblock subcategory2_item %}
                                                                                                    </li>
                                                                                                {% endblock subcategory2_item_li %}
                                                                                            {% endfor %}
                                                                                        {% endblock subcategory2_column_content_ul %}
                                                                                    </ul>
                                                                                {% endblock subcategory2_column_content %}
                                                                            </div>
                                                                        {% endblock subcategory2_column %}
                                                                    {% endfor %}
                                                                {% endblock subcategory2 %}
                                                            {% endblock subcategory_item %}
                                                        </li> 
                                                    {% endfor %}    
                                                </ul>
                                            {% endblock subcategory_col %}
                                        {% endfor %}
                                    </div>
                                {% endblock category_drop %}
                            {% endif %} 
                        {% endblock category_item %}
                    </li>
                {% endfor %}
            {% endblock category_nav_items %}
        </ul>
    {% endblock category_nav %}
</div>