<div class="category_list">
    {% block items_list %}
        {% for item in items %}
            {% block item %}
                <a class="category_item{% block item_index %}{{ loop.index % 3 == 1 ? ' first' }}{% endblock item_index %}" href="{{ path('category_page', { 'slug': item.alias }) }}" >
                    {% block item_content %}
                        {% block item_title %}
                            <span>{{ item }}</span>
                        {% endblock item_title %}

                        {% block item_image %}
                            <img src="{{ item.image|default('images/no_image.jpg')|imagine_filter('category_thumb') }}" alt="{{ item.name }}" />
                        {% endblock item_image %}
                    {% endblock item_content %}
                </a>
            {% endblock item %}
        {% endfor %}
    {% endblock items_list %}
</div>