{% if categories is not empty %}
    <div class="category_home_list">
        {% block category_home_list %}
            {% for category in categories %}
                {% block category_item %}
                    <div class="item{% block item_index %}{{ loop.index % 3 == 1 ? ' first' }}{% endblock item_index %}">
                        {% block category_title %}
                            <a class="category category-{{ 'styleClass' in category|keys ? category.styleClass }}" href="{{ path('category_page', {'slug': category.aliasEn}) }}"><span>{{ category.name }}</span></a>
                        {% endblock category_title %}

                        {% if category.__children is not empty %}
                            {% block subcategory_list %}
                                <ul>
                                    {% for subcategory in category.__children %}
                                        <li>
                                            {% block subcategory_item %}
                                                <a href="{{ path('category_page', {'slug': subcategory.aliasEn}) }}">{{ subcategory.name }}</a>
                                            {% endblock subcategory_item %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endblock subcategory_list %}
                        {% endif %}
                   </div>
                {% endblock category_item %}
            {% endfor %}
        {% endblock category_home_list %}
    </div>
{% endif %}