{% trans_default_domain "NitraProductBundle" %}

{% if brands is not empty %}
    <div id="brands_carousel" class="carousel_brands carousel_block {{ brands|length > visible ? 'with_links' }} {{ orientation }}">
        {% block carousel_brands %}
            <ul>
                {% for brand in brands %}
                    <li class="item">
                        {% if brand.image is not empty %}
                            {% block carousel_item %}
                                <img src="{{ brand.image|imagine_filter(imageSize) }}" alt="{{ brand }}" title="{{ brand }}" />
                            {% endblock carousel_item %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if brands|length > visible %}
                {% block carousel_script %}
                    <a class="brands_carousel slide_link prev"></a>
                    <a class="brands_carousel slide_link next"></a>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            $("#brands_carousel").jCarouselLite({
                                btnNext:    ".brands_carousel.next",
                                btnPrev:    ".brands_carousel.prev",
                                circular:   false,
                                autoWidth:  {{ (autoWidth is defined and autoWidth) ? 'true' : 'false' }},
                                responsive: {{ (responsive is defined and responsive) ? 'true' : 'false' }},
                                visible:    {{ visible }},
                                vertical:   {{ orientation == 'vertical' ? 'true' : 'false' }},
                            });
                        });
                    </script>
                {% endblock carousel_script %}
            {% endif %}
        {% endblock carousel_brands %}
    </div>
{% endif %}