{% extends "NitraProductBundle:Filters:default.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block filter_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        function getLink(parameters, callback) {
            for (var key in parameters) {
                parameters[key] = parameters[key].join(',');
            }
            {% if app.request.query.has('limit') -%}
                parameters['limit'] = '{{ app.request.query.get('limit') }}';
            {% endif %}
            {% if app.request.query.has('view') %}
                parameters['view'] = '{{ app.request.query.get('view') }}';
            {% endif %}
            parameters = $.extend(parameters, {{ app.request.attributes.get('_route_params')|json_encode|raw }});
            $.post("{{ path('get_dynamic_link') }}", {
                name:       'category_page',
                parameters: parameters
            }, function(link) {
                callback(link);
            });
        }

        function moveSelectContainer(link, text, clickedItem) {
            var $apply = $('#filter_apply');
            if (isCurrentLink(link)) {
                $apply.hide('fast');
            } else {
                $apply.show('fast');
                $apply.children('a.show_new_models')
                    .prop('href', link)
                    .text(text);
                var top = $(clickedItem).offset().top - $('div.filter_box').offset().top - $apply.height() / 2;
                $apply.animate({
                    top:    top
                });
            }
        }

        /**
         * Check link is current
         * @param string link
         * @returns boolean
         */
        function isCurrentLink(link) {
            var currentParameterValues = window.location.search
                .replace(/^\?/, '')
                .split('&');
            var currentParameters = {};
            for (var i in currentParameterValues) {
                if (!currentParameterValues[i].match(/[a-z\d_-]+=[a-z\d_-]/)) {
                    continue;
                }
                var pv = currentParameterValues[i].split('=');
                currentParameters[pv[0]] = pv[1].split(',');
            }

            var linkParameterValues = link.split('?').length == 2
                ? link.split('?')[1].split('&')
                : [];
            var linkParameters = {};
            for (var i in linkParameterValues) {
                var pv = linkParameterValues[i].split('=');
                linkParameters[pv[0]] = pv[1].split(',');
            }

            var linkParametersToRemove = 0;
            var currentParametersToRemove = 0;
            for (var parameter in currentParameters) {
                if (linkParameters.hasOwnProperty(parameter)) {
                    var linkValuesToRemove = 0;
                    var currentValuesToRemove = 0;
                    for (var i in currentParameters[parameter]) {
                        var linkValueIndex = linkParameters[parameter].indexOf(currentParameters[parameter][i]);
                        if (linkValueIndex != -1) {
                            linkValuesToRemove ++;
                            currentValuesToRemove ++;
                        }
                    }
                    if (linkParameters[parameter].length == linkValuesToRemove && currentParameters[parameter].length == currentValuesToRemove) {
                        linkParametersToRemove ++;
                        currentParametersToRemove ++;
                    }
                }
            }

            return Object.keys(currentParameters).length == currentParametersToRemove &&
                   Object.keys(linkParameters).length    == linkParametersToRemove;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#filter_list .parameter_list a[data-value][data-parameter]').click(function() {
                $(this).toggleClass('active');
                if ($(this).hasClass('active')) {
                    $(this).children('span.quantity').hide('fast');
                } else {
                    $(this).children('span.quantity').show('fast');
                }
                var parameters = {};
                $('#filter_list .parameter_list a.active[data-value][data-parameter]').each(function() {
                    var parameter = $(this).data('parameter');
                    var value     = $(this).data('value');
                    if (!parameters.hasOwnProperty(parameter)) {
                        parameters[parameter] = [];
                    }
                    parameters[$(this).data('parameter')].push(value);
                });

                var self = this;

                $.post('{{ path('ajax_filter', { 'alias': app.request.attributes.get('_route_params').slug }) }}', {
                    parameters: parameters
                }, function(result) {
                    $('#filter_list .parameter_list a[data-id][data-value][data-parameter]').each(function() {
                        var hasMatch = false;
                        for (parameterId in result.parameters) {
                            for (valueId in result.parameters[parameterId]) {
                                if (valueId == $(this).data('id')) {
                                    hasMatch = result.parameters[parameterId][valueId] > 0;
                                    $(this).children('span.quantity').children('span.numeric').html(result.parameters[parameterId][valueId]);
                                    break;
                                }
                            }
                        }
                        if (hasMatch) {
                            $(this).parent().slideDown();
                            $(this).parent('.parameter').slideDown();
                        } else {
                            $(this).parent().slideUp();
                        }
                        $('#filter_list .parameter').filter(function() {
                            var hasVisible = false;
                            $(this).find('li').each(function() {
                                if ($(this).css('display') != 'none') {
                                    hasVisible = true;
                                }
                            });
                            return !hasVisible;
                        }).slideUp();
                    });

                    getLink(parameters, function(link) {
                        moveSelectContainer(link, result.total, self);
                    });
                });

                return false;
            });
        });
    </script>
{% endblock filter_javascript %}

{% block buttons %}
    {{ parent() }}
    {% block button_apply_filter %}
        <div class="filter_apply" id="filter_apply" style="top: 0">
            <span></span>
            <a class="show_new_models" href="#"></a>
            <a class="close" onclick="$('#filter_apply').hide();"></a>
        </div>
    {% endblock button_apply_filter %}
{% endblock buttons %}