{% trans_default_domain "NitraProductBundle" %}

{% block filter_javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#filter_list .parameter .param_name').click(function() {
                $(this).parent().children('.parameter_list').slideToggle();
                $(this).parent('.parameter').toggleClass('show');
            });
        });
    </script>
{% endblock filter_javascript %}

{% block filter %}
    <div class="filter_box">
        {% if selectedBox %}
            {{ include("NitraProductBundle:Filters:selected.html.twig") }}
        {% endif %}

        {% block filter_price %}
            {{ include("NitraProductBundle:Filters:filterPrice.html.twig") }}
        {% endblock filter_price %}

        {% block filter_parameters %}
            <div id="filter_list" class="filter_list">
                {% for name, filter in filters %}
                    {{ include("NitraProductBundle:Filters:filterParameter.html.twig") }}
                {% endfor %}
            </div>
        {% endblock filter_parameters %}

        {% block buttons '' %}
    </div>
{% endblock filter %}