{% trans_default_domain "NitraProductBundle" %}

{% block parameter %}
    <div class="parameter{{ (filter.isFilterShow or filter.active) ? ' show' }}">
        {% block name %}
            <div class="param_name" data-alias="{{ filter.alias }}" data-multiple="{{ filter.isSiteMultiple ? 1 : 0 }}">
                {{- name|trans -}}
            </div>
        {% endblock name %}
        <div class="parameter_list"{{ not filter.isFilterShow and not filter.active ? ' style="display:none;"' }}>
            <div class="scroll" id="scroll_{{ filter.alias }}">
                <ul class="overview">
                    {% block values %}
                        {% for value in filter.values %}
                            <li class="{% if (value.active) %}active{% endif %}"{% if value.amount == 0 %} style="display: none;"{% endif %}>
                                {% block value %}
                                    <a class="{{ value.active ? ' active' }}" data-id="{{ value.id }}" data-value="{{ value.alias }}" data-parameter="{{ filter.alias }}" href="{{ _self.hrefToValue(filter, value, routeParameters) }}">
                                        {{- value.name -}}
                                        {{- filter.suffix ? (' ' ~ filter.suffix) -}}
                                        {%- block value_amount -%}
                                            {%- set quantity -%}
                                                <span class="numeric">
                                                    {{- value.amount -}}
                                                </span>
                                            {%- endset -%}
                                            <span class="quantity"{% if value.active %} style="display: none;"{% endif %}>
                                                {{- (' (' ~ quantity ~ ')')|raw -}}
                                            </span>
                                        {% endblock value_amount %}
                                    </a>
                                {% endblock value %}
                            </li>
                        {% endfor %}
                    {% endblock values %}
                </ul>
            </div>
            {% block filter_clear %}
                {% if filter.active %}
                    <a class="filter_button clear_current_parameter" href="{{ path('category_page', routeParameters|unset(filter.alias)) }}">
                        <span>{{ 'filters.clear_filter'|trans }}</span>
                    </a>
                {% endif %}
            {% endblock filter_clear %}
        </div>
    </div>
{% endblock parameter %}

{% macro hrefToValue(filter, value, parameters) -%}
    {%- if filter.isSiteMultiple and filter.alias in parameters|keys -%}
        {%- if value.alias in parameters[filter.alias]|split(',') -%}
            {%- set values = parameters[filter.alias]|split(',') -%}
            {%- set newValues = [] -%}
            {%- for selectedValue in values -%}
                {%- if selectedValue != value.alias -%}
                    {%- set newValues = newValues|merge([selectedValue]) -%}
                {%- endif -%}
            {%- endfor -%}
            {%- set values = newValues|join(',') -%}
        {%- else -%}
            {%- set values = parameters[filter.alias] ~ ',' ~ value.alias -%}
        {%- endif -%}
        {%- set parameters = values ? parameters|merge({(filter.alias): values}) : parameters|unset(filter.alias) -%}
    {%- elseif (filter.alias in parameters|keys and parameters[filter.alias] == value.alias) -%}
        {%- set parameters = parameters|unset(filter.alias) -%}
    {%- else -%}
        {%- set parameters = parameters|merge({(filter.alias): value.alias}) -%}
    {%- endif -%}
    {{- path('category_page', parameters)|url_decode -}}
{%- endmacro %}