{% trans_default_domain "NitraProductBundle" %}

{% block filter_price %}
    <div class="filter_price">
        {% block filter_price_title %}
            <div class="param_name">{{ 'filters.price.label'|trans }}</div>
        {% endblock filter_price_title %}

        {% block filter_price_slider %}
            <div class="filter_slider">
                <div class="slider">
                    {% block filter_price_data %}
                        {% set inputValue = routeParameters['price-from']|default(prices|first) ~ ';' ~ routeParameters['price-to']|default(prices|last) %}
                        <input id="slider_price_range" type="slider" name="price_range" value="{{ inputValue }}" />
                    {% endblock filter_price_data %}
                </div>
                {% block filter_price_button %}
                    <a class="filter_button" onclick="filterByPrice();" title="{{ 'filters.price.label'|trans }}"><span>{{ 'filters.price.button'|trans }}</span></a>
                {% endblock filter_price_button %}
            </div>
        {% endblock filter_price_slider %}

        {% block filter_price_script %}
            <script type="text/javascript">
                $(document).ready(function(){
                    $('#slider_price_range').slider({
                        from:       {{ prices|first|default(0) }},
                        to:         {{ prices|last|default(0) }},
                        smooth:     true,
                        round:      0,
                        dimension:  "{{ 'filters.price.currency'|trans }}"
                    });
                });

                function filterByPrice() {
                    var values = $("#slider_price_range").slider("value").split(';');
                    var from   = values[0];
                    var to     = values[1];
                    if (from && to) {
                        {% block filter_price_slider_path -%}
                            var defaultPath = '{{ path('category_page', routeParameters|merge({ 'price-from': '__pricefrom__', 'price-to': '__priceto__' }))|url_decode }}';
                        {% endblock filter_price_slider_path %}
                        if (from == {{ prices|first|default(0) }} && to == {{ prices|last|default(0) }}) {
                            location = '{{ path('category_page', routeParameters|unset('price-from')|unset('price-to'))|url_decode }}';
                            return;
                        }
                        location = defaultPath
                            .replace(/&amp;/g, '&')
                            .replace('__pricefrom__', from)
                            .replace('__priceto__', to);
                    }
                }
            </script>
          {% endblock filter_price_script %}
    </div>
{% endblock filter_price %}