{% trans_default_domain "NitraProductBundle" %}

{% import "@NitraProduct/Filters/filterParameter.html.twig" as addons %}

{% block selected %}
{% spaceless %}
    {% set hasActive = false %}
    {% for filter in filters if filter.active %}
        {% set hasActive = true %}
    {% endfor %}
    {% if hasActive %}
        {% block selected_content %}
            <div class="selected_params">
                {% block title %}
                    <div class="title">{{ 'filters.selected.title'|trans }}</div>
                {% endblock title %}
                <ul class="filter_list">
                    {% for name, filter in filters if filter.active %}
                        <li>
                            {% set clearParameters = routeParameters %}
                            <a href="{{ path('category_page', clearParameters|unset(filter.alias)) }}">
                                <b>{{ name|trans }}: </b>
                            </a>
                            {%- for value in filter.values if value.active -%}
                                <a class="value active" href="{{ addons.hrefToValue(filter, value, routeParameters) }}">
                                    {{ value.name }}
                                </a>
                            {%- endfor -%}
                        </li>
                    {% endfor %}
                </ul>
                {% block clear %}
                    <a class="button_filter filter_clear" href="{{ path('category_page', app.request.attributes.get('_route_params'))|url_decode }}">
                        {{- 'filters.clear'|trans -}}
                    </a>
                {% endblock clear %}
            </div>
        {% endblock selected_content %}
    {% endif %}
{% endspaceless %}
{% endblock selected %}