{% trans_default_domain "NitraProductBundle" %}
{% spaceless %}
    <div class="no_products">
        {% block no_products %}
            {% block no_products_title %}
               <div class="text">{{ (page~'.noproducts')|trans }}</div>
            {% endblock no_products_title %}

            {% block back_link %}
               <a class="back" onclick="history.go(-1);"> {{ (page~'.returnback')|trans }}</a>
            {% endblock back_link %}
        {% endblock no_products %}
    </div>
{% endspaceless %}  