{% spaceless %}
    {% if product.videoRef is not empty %}
        <div class="product_video">
            {% for video_item in product.videoRef %}
                {% block video_item %}
                    <div class="item">
                        {{ video_item|raw }}
                    </div>
                {% endblock video_item %}
            {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}  