{% trans_default_domain "NitraProductBundle" %}
{% if params is not empty %}
{% spaceless %}
    <div class="description">
        {% block product_description %}
            {% block description_title %}<div class="title">{{ 'product.features'|trans }}</div>{% endblock description_title %}
            {% for group, parameters in params %}
                {% block product_parameters %}
                    <table class="product_parameters">
                        {% if group %}
                            <tr><th colspan="2">
                                {% block parameter_group %} {{ group }} {% endblock parameter_group %}
                            </th></tr>
                        {% endif %}
                        {% for parameter in parameters %}
                            <tr {{ loop.index is odd ? 'class="odd"' }}>
                                <td class="name">
                                    {% block parameter_name %} {{ parameter.name }}: {% endblock parameter_name %}
                                </td>
                                <td class="value">
                                     {% for key,parameterValue in parameter.value %}
                                        {% block parameter_value %}
                                            {{ parameterValue }}{{ parameter.suffix ? ' '~parameter.suffix }}{{ not loop.last ? ',' }}
                                        {% endblock parameter_value %}
                                     {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endblock product_parameters %}
            {% endfor %}
        {% endblock product_description %}
    </div>
{% endspaceless %}
{% endif %}
