{% trans_default_domain "NitraProductBundle" %}

{% spaceless %}
{% if item.stock is not empty %}
    {% block stock %}
        <span class="stock{{ (item.stock == 'onOrder' or item.stock == 'notInStock') ? ' out_stock' }}">{{ item.stock|trans }}</span>
    {% endblock stock %}
{% endif %}
{% endspaceless %}  