{% extends '::base.html.twig' %}

{% block content %}
    {% if products is not empty %}
        {% block pagination_top %}
            {{ knp_pagination_render(products)|raw }}
        {% endblock pagination_top %}

        {% block product_panel_top %}
           {% render controller("NitraProductBundle:Product/Product:productPanel", {'params': app.request.get('_route_params'), 'pathInfo': app.request.pathInfo}) %}
        {% endblock product_panel_top %}

        {% block product_list %}
           {% render controller("NitraProductBundle:Product/Product:formatProductList", {'products': products}) %}
        {% endblock product_list %}

        {% block pagination_bottom %}
            <div class="pagination_bottom">
                {{ knp_pagination_render(products)|raw }}
            </div>
        {% endblock pagination_bottom %}
    {% endif %}
{% endblock content %}