{% spaceless %}
    <div class="tabs {{ class|default('') }}">
        {% block tab_header %}
            <div class="tab_links" id="tabs_{{ class|default('') }}">
                {% block tab_links %}
                    {% for key,tab in tabs %}
                        {% if tab.content|trim is not empty %}
                            {% block tab_link %}
                                <a class="{{ key }}" data-tab="{{ key }}_tab">
                                    {% block tab_link_content %}
                                        <span>{{ tab.name }}</span>
                                    {% endblock tab_link_content %}
                                </a>
                            {% endblock tab_link %}
                        {% endif %}
                    {% endfor %}
                {% endblock tab_links %}
            </div>
        {% endblock tab_header %}

        <div class="tab_box">
            {% block tab_box %}
                {% for key,tab in tabs %}
                    {% if tab.content|trim is not empty %}
                        {% block tab_content %}
                            <div id="{{ key }}_tab" class="tab_content">
                                {% block tab_content_info %}
                                    {{ tab.content|raw }}
                                {% endblock tab_content_info %}
                            </div>
                        {% endblock tab_content %}
                    {% endif %}
                {% endfor %}
            {% endblock tab_box %}
        </div>

        {% block tab_script %}
            <script type="text/javascript">
                $.tabs('#tabs_{{ class|default('') }} a');
            </script>
        {% endblock tab_script %}
    </div>
{% endspaceless %}