{% extends "NitraProductBundle:Product:productList.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% set view = app.request.session.get('view') %}

{% block item_badge '' %}
{% block item_article '' %}
{% block item_stock '' %}
{% block item_video '' %}

{%- block item_link -%}
    {{- path('model_page', { 'alias': item.alias })|url_decode -}}
{%- endblock item_link -%}

{% block item_button_buy %}
    <a class="button_select" href="{{ itemLink }}">
        <span>
            {{- 'button.select'|trans -}}
        </span>
    </a>
{% endblock item_button_buy %}

{% block item_price %}
    {% set prices = [] %}
    {% for product in item.products %}
        {% set prices = prices|merge([product.price]) %}
    {% endfor %}
    {{ include ("NitraProductBundle:Model:modelPrices.html.twig", { 'prices': prices|sort }) }}

    {% block model_products %}
        <ul class="products">
            {% for product in item.products %}
                <li>
                    <a href="{{ path('product_page', {'slug': product.alias}) }}" title="{{ product.fullName }}">
                        {{- product.shortName -}}
                    </a>
                    {{ include('NitraProductBundle:Modules:productPrice.html.twig', { 'item': product }) }}
                    <a class="button_buy colorbox" href="{{ path('order_page', { 'productId': product.id }) }}">
                        <span>
                            {{- 'button.buy'|trans -}}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endblock model_products %}
{% endblock item_price %}