{% block model_price %}
    <div class="model_price_box">
        {{- prices|first|price -}}
        {%- if prices|first < prices|last -%}
            {{- (' - ' ~ prices|last|price)|raw -}}
        {%- endif -%}
    </div>
{% endblock model_price %}