{% extends "::base.html.twig" %}

{% block meta_info %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {
        'type':       'info',
        'uri':        app.request.uri,
        'objSeoInfo': model.seo,
        'object':     model,
        'page':       'model_page',
    }) %}
{% endblock meta_info %}

{% block main_seotext %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {
        'type':       'desc',
        'uri':        app.request.uri,
        'objSeoInfo': model.seo,
        'object':     model,
        'page':       'model_page',
    }) %}
{% endblock main_seotext %}

{% block breadscrumbs %}
    {{ breadcrumbs(model) }}
{% endblock breadscrumbs %}

{% block header %}
    {{ parent() }}
    {# обновление кол-ва просмотров модели #}
    {{ render_esi(controller("NitraProductBundle:Model/Model:updateModelViews", { 'modelId': model.id })) }}
{% endblock header %}

{% block content %}
    {{ include('NitraProductBundle:Model:modelPageContent.html.twig') }}
{% endblock content %}