{% trans_default_domain "NitraProductBundle" %}

{% block model_page %}
    <div class="{% block model_class 'model_page' %}"> 
        {% block model_page_content %}
            {% block title -%}
                <h1>{{ model.fullName }}</h1>
            {%- endblock title %}

            {% block images %}
                {{ include('NitraProductBundle:Modules:modelImagesColorbox.html.twig', { 'visible': 3, 'colorbox_open': true, 'item': model }) }}
            {% endblock images %}

            {% block text_delivery %}
                {% render controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", { 'location': 'product_delivery' }) %}
            {% endblock text_delivery %}

            {% block text_payment %}
                {% render controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", { 'location': 'product_payment' }) %}
            {% endblock text_payment %}
            
            {% block model_prices %}
                {{ include('NitraProductBundle:Model:modelPrices.html.twig') }}
            {% endblock model_prices %}
            
            {% block model_parameters %}
                {% render controller("NitraProductBundle:Parameter/Parameter:characteristics", { 'item': model }) %}
            {% endblock model_parameters %}

            {% block model_products %}
                {{ include('NitraProductBundle:Model:modelProducts.html.twig') }}
            {% endblock model_products %}

            {# Просмотренные #}
            {% block viewed %}
                {% render controller('NitraProductBundle:Product/Carousels:viewedModels', {
                    'model':        model,
                    'limit':        20,
                    'orientation':  'horizontal',
                    'class':        'category_products',
                    'caption':      '',
                    'visible':      5,
                    'type':         'simple',
                    'imageSize':    'big_carousel_thumb',
                }) %}
            {% endblock viewed %}
        {% endblock model_page_content %}
    </div>
{% endblock model_page %}